<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Editar usuario</title>
</head>
<body>
    <div align="center">
        <h1>Modificar Usuario</h1>
        <br />
        <form action="#" th:action="@{/guardarusuario}" th:object="${usuario}"
            method="post">
 
            <table border="2" >
                <tr>             
                    <td>usuario id:</td>
                    <td>
                        <input type="text" th:field="*{id}" readonly="readonly" />
                    </td>
                </tr>        
                <tr>             
                    <td>nombre del usuario:</td>
                    <td>
                        <input type="text" th:field="*{nombre}" />
                    </td>
                </tr>
                <tr>
                    <td>edad del usuario:</td>
                    <td><input type="text" th:field="*{edad}" /></td>
                </tr>
                <tr>
                    <td>
                		<input type="radio" name=genero value=0 th:checked="*{genero}"/><p>Mujer</p>
                		<input type="radio" name=genero value=1 th:checked="*{genero}"/><p>Hombre</p>
                    </td>
                </tr>
                <tr>
                    <td>ciudad de residencia del usuario:</td>
                    <td><input type="text" th:field="*{ciudad}" /></td>
                </tr>
                <tr>
                    <td>temas preferidos del usuario:</td>
                    <td><input type="text" th:field="*{edad}" /></td>
                </tr>                           
                <tr>
                    <td colspan="2"><button type="submit">guardar</button> </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>