<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">


<title>Información de registro</title>
</head>

<body>
	<h2>Información de registro</h2>
	<p>Ha completado su registro en LucaTinder, en caso de cualquier duda contáctenos en: </p><a>emaildecontacto@prueba.com</a>
		<div>
			<table border="2">
			<thead>
				<tr>
					<th>nombre</th>
					<th>edad</th>
					<th>género</th>
					<th>ciudad</th>
					<th>categorías</th>
					<th>foto</th>
				</tr>
			</thead>
			<tbody>
				<tr>					
					<td><span th:text="${Usuario.nombre}" /></td>
					<td><span th:text="${Usuario.edad}" /></td>
					<td><span th:text="${Usuario.genero}" /></td>
					<td><span th:text="${Usuario.ciudad}" /></td>
					<td><span th:text="${Usuario.categorias}" /></td>
					<td><span th:text="${Usuario.foto}" /></td>
				</tr>
			</tbody>
			</table>
		</div>

</body>